/* SIGN UP*/

.signup-form {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    margin: 0px auto;
    width: 500px;
    border-radius: 5px;
    margin-top: 25vh;
}

.signup-form h1 {
    text-align: center;
}

.signup {
    background-image: url("../imgs/bg.png");
    background-size: cover;
    height: 100%;
    width: 100vw;
    max-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.form-group {
    opacity: 1;
}

.animate-show-hide {
    transition: all 1s ease-in;
}

.signup-form input:focus {
    background-color: rgb(236, 237, 237);
    box-shadow: 5px 5px 5px #888888;
}

.signup-form input {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.9)
}


/*PROJECT LIST*/

.leftpanel {
    padding: 20px;
    transition: all linear 0.5s;
    background-color: lightblue;
    width: 20vw;
}

.container-fluid {
    padding: 0 !important;
}

.boxme.ng-hide-add {
    -webkit-animation: fadeOutLeftBig 0.4s;
    display: block!important;
}

.boxme.ng-hide-remove {
    -webkit-animation: fadeInLeftBig 0.4s;
}
