<!doctype html>
<html lang="en">

<head>
    <title>Gantt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="js/style.css" type="text/css" />

    <script src="js/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="js/angular-route.min.js"></script>

</head>

<body ng-controller="projectListCtrl">
    <div class="container-fluid">
        <div ng-hide="panel">
            <div class="col-sm-3 boxme table-responsive leftpanel" value="Project">
                <table class="table-striped">
                    <tr>
                        <th>Project</th>
                        <th>Owner</th>
                        <th>Date create</th>
                        <th>Users</th>
                    </tr>
                    <tr ng-repeat="project in liste | filter:search:strict | orderBy:filtre">
                        <td>{{project.name}}</td>
                        <td>{{project.owner}}</td>
                        <td>{{project.date}}</td>
                        <td>{{project.users}}</td>
                        <td><button type="submit" class="glyphicon glyphicon-eye-open"></td>
                        <td><button type="submit" class="glyphicon glyphicon-pencil"></td>
                        <td><button type="button" class="glyphicon glyphicon-trash"></td>
                    </tr>
                </table>
                <br />
                            <button class="btn btn-default btn-sm" ng-click="showCreateForm=true" ng-show="!showCreateForm">Create Project</button>

                            <form>
                                <br />
                                <div class="form-group">
                                    <label>Name of project</label>
                                    <input type="email" class="form-control" id="nameProject" placeholder="Name of project">
                                </div>
                                <div class="form-group">
                                    <label>Owner</label>
                                    <input type="password" class="form-control" id="owner" placeholder="Owner">
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" rows="3" placeholder="Describe your project"></textarea>
                                </div>
                                <div class="checkbox">
                                    <label>
                          <input type="checkbox"> I agree blablah | +1
                        </label>
                                </div>
                                <button type="submit" class="btn btn-default btn-sm">Submit</button>
                            </form>
            </div>

        </div>
        <button ng-click="panel=!panel">TOGGLE</button>

        <div class="col-sm-7" value="Gantt">Display Gantt Here</div>

    </div>
    </div>
</body>
